# Data Wrangling with Spark SQL Quiz

This quiz uses the same dataset and most of the same questions from the earlier "Quiz - Data Wrangling with Data Frames Jupyter Notebook." For this quiz, however, use Spark SQL instead of Spark Data Frames.

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SparkSQL").getOrCreate()
user_log = spark.read.json(r"data/sparkify_log_small.json")
user_log.show(5)
# TODOS: 
# 1) import any other libraries you might need
# 2) instantiate a Spark session 
# 3) read in the data set located at the path "data/sparkify_log_small.json"
# 4) create a view to use with your SQL queries
# 5) write code to answer the quiz questions

+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|              artist|     auth|firstName|gender|itemInSession| lastName|   length|level|            location|method|    page| registration|sessionId|                song|status|           ts|           userAgent|userId|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|       Showaddywaddy|Logged In|  Kenneth|     M|          112| Matthews|232.93342| paid|Charlotte-Concord...|   PUT|NextSong|1509380319284|     5132|Christmas Tears W...|   200|1513720872284|"Mozilla/5.0 (Win...|  1046|
|          Lily Allen|Logged In|Elizabeth|     F|            7|    Chase|195.23873| free|Shreveport-Bossie...|   PUT|NextSong|1512718541284|     5027|       Cheryl Tweedy|   200|1513720878284|"Mozilla/5.0 (Win...|  1000|
|Cobra Starship Fe...|Logged In|     Vera|     F|            6|Blackwell|196.20526| paid|          Racine, WI|   PUT|NextSong|1499855749284|     5516|Good Girls Go Bad...|   200|1513720881284|"Mozilla/5.0 (Mac...|  2219|
|          Alex Smoke|Logged In|   Sophee|     F|            8|   Barker|405.99465| paid|San Luis Obispo-P...|   PUT|NextSong|1513009647284|     2372| Don't See The Point|   200|1513720905284|"Mozilla/5.0 (Win...|  2373|
|                null|Logged In|   Jordyn|     F|            0|    Jones|     null| free|        Syracuse, NY|   GET|    Home|1513648531284|     1746|                null|   200|1513720913284|"Mozilla/5.0 (Mac...|  1747|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
only showing top 5 rows

In [3]:
# creating a temporary view inorder to query the data.

user_log.createOrReplaceTempView("user_log_view")
spark.sql("""
          select userID, page from user_log_view            
          """).show()

+------+--------+
|userID|    page|
+------+--------+
|  1046|NextSong|
|  1000|NextSong|
|  2219|NextSong|
|  2373|NextSong|
|  1747|    Home|
|  1747|Settings|
|  1162|NextSong|
|  1061|NextSong|
|   748|    Home|
|   597|    Home|
|  1806|NextSong|
|   748|NextSong|
|  1176|NextSong|
|  2164|NextSong|
|  2146|NextSong|
|  2219|NextSong|
|  1176|    Home|
|  2904|NextSong|
|   597|NextSong|
|   226|NextSong|
+------+--------+
only showing top 20 rows

# Question 1

Which page did user id ""(empty string) NOT visit?

In [18]:
spark.sql("""
          select distinct page as PageNotVisited
          from user_log_view
          where page not in (select distinct page from user_log_view where userId = "")

         """).show()

+----------------+
|  PageNotVisited|
+----------------+
|Submit Downgrade|
|       Downgrade|
|          Logout|
|   Save Settings|
|        Settings|
|        NextSong|
|         Upgrade|
|           Error|
|  Submit Upgrade|
+----------------+

In [7]:
spark.sql("""
          select distinct page as NotVisitedPages
          from user_log_view""").show()

+----------------+
| NotVisitedPages|
+----------------+
|Submit Downgrade|
|            Home|
|       Downgrade|
|          Logout|
|   Save Settings|
|           About|
|        Settings|
|           Login|
|        NextSong|
|            Help|
|         Upgrade|
|           Error|
|  Submit Upgrade|
+----------------+

# Question 2 - Reflect

Why might you prefer to use SQL over data frames? Why might you prefer data frames over SQL?

# Question 3

How many female users do we have in the data set?

In [23]:
spark.sql\
("""
select count(distinct userId) as TotalFemales
from user_log_view
where gender = 'F'
""").show()

+------------+
|TotalFemales|
+------------+
|         462|
+------------+

# Question 4

How many songs were played from the most played artist?

In [24]:
user_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [44]:
# TODO: write your code to answer question 4

# Solution #1

fam_artist = spark.sql("""
                       select artist, count(song) as total_songs
                       from user_log_view
                       group by artist
                       order by total_songs desc
                       """).collect()

#fam_artist.createOrReplaceTempView("most_played_artist")
fam_artist_df = spark.createDataFrame(fam_artist, schema = ['artist', 'total_songs'])
fam_artist_df.show()

fam_artist_df.createOrReplaceTempView("most_played_artist_view")
spark.sql("select max(total_songs) from most_played_artist_view").show()

+--------------------+-----------+
|              artist|total_songs|
+--------------------+-----------+
|            Coldplay|         83|
|       Kings Of Leon|         69|
|Florence + The Ma...|         52|
|            BjÃÂ¶rk|         46|
|       Dwight Yoakam|         45|
|       Justin Bieber|         43|
|      The Black Keys|         40|
|         OneRepublic|         37|
|        Jack Johnson|         36|
|                Muse|         36|
|           Radiohead|         31|
|        Taylor Swift|         29|
|          Lily Allen|         28|
|Barry Tuckwell/Ac...|         28|
|               Train|         28|
|          Nickelback|         27|
|           Metallica|         27|
|           Daft Punk|         27|
|          Kanye West|         26|
|          John Mayer|         24|
+--------------------+-----------+
only showing top 20 rows

+----------------+
|max(total_songs)|
+----------------+
|              83|
+----------------+

In [43]:
# Solution #2

spark.sql("SELECT Artist, COUNT(Artist) AS plays \
        FROM user_log_view \
        GROUP BY Artist \
        ORDER BY plays DESC \
        LIMIT 1").show()

+--------+-----+
|  Artist|plays|
+--------+-----+
|Coldplay|   83|
+--------+-----+

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [ ]:
# TODO: write your code to answer question 5

In [ ]:
# I HAVE NO IDEA WHAT THIS QUESTION IS TRYING TO CONVEY AND HENCE CANNOT WRITE THIS CODE!