In [1]:
from pyspark.sql import SparkSession

In [2]:
import datetime
from pyspark.sql.functions import asc_nulls_first, asc

In [3]:
import datetime
from pyspark.sql.functions import asc_nulls_first, asc

In [4]:
spark = SparkSession\
        .builder\
        .appName("Data Wrangling with DataFrame")\
        .getOrCreate()

In [5]:
filelocation = r"D:\Github\Udacity-Spark\sparkify_log_small.json"
user_log = spark.read.json(filelocation)

In [6]:
user_log.describe().show(truncate = True)

+-------+-----------------+----------+---------+------+------------------+--------+-----------------+-----+------------+------+-------+--------------------+------------------+--------+------------------+-------------------+--------------------+------------------+
|summary|           artist|      auth|firstName|gender|     itemInSession|lastName|           length|level|    location|method|   page|        registration|         sessionId|    song|            status|                 ts|           userAgent|            userId|
+-------+-----------------+----------+---------+------+------------------+--------+-----------------+-----+------------+------+-------+--------------------+------------------+--------+------------------+-------------------+--------------------+------------------+
|  count|             8347|     10000|     9664|  9664|             10000|    9664|             8347|10000|        9664| 10000|  10000|                9664|             10000|    8347|             10000|              10000|                9664|             10000|
|   mean|            461.0|      null|     null|  null|           19.6734|    null|249.6486587492506| null|        null|  null|   null|1.504695369588739...|         4436.7511|Infinity|          202.8984| 1.5137859954164E12|                null|1442.4413286423842|
| stddev|            300.0|      null|     null|  null|25.382114916132604|    null| 95.0043713078146| null|        null|  null|   null| 8.473142521316572E9|2043.1281541827561|     NaN|18.041791154505876|3.290828862360883E7|                null| 829.8909432082621|
|    min|              !!!|     Guest|   Aakash|     F|                 0| Acevedo|          1.12281| free|Aberdeen, WA|   GET|  About|       1463503881284|                 9|      #1|               200|      1513720872284|"Mozilla/5.0 (Mac...|                  |
|    max|ÃÂlafur Arnalds|Logged Out|     Zoie|     M|               163|  Zuniga|        1806.8371| paid|    Yuma, AZ|   PUT|Upgrade|       1513760702284|              7144|wingless|               404|      1513848349284|Mozilla/5.0 (comp...|               999|
+-------+-----------------+----------+---------+------+------------------+--------+-----------------+-----+------------+------+-------+--------------------+------------------+--------+------------------+-------------------+--------------------+------------------+

In [7]:
user_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [8]:
user_log.describe("page").show()

+-------+-------+
|summary|   page|
+-------+-------+
|  count|  10000|
|   mean|   null|
| stddev|   null|
|    min|  About|
|    max|Upgrade|
+-------+-------+

In [9]:
user_log.select("page").dropDuplicates().show()

+----------------+
|            page|
+----------------+
|Submit Downgrade|
|            Home|
|       Downgrade|
|          Logout|
|   Save Settings|
|           About|
|        Settings|
|           Login|
|        NextSong|
|            Help|
|         Upgrade|
|           Error|
|  Submit Upgrade|
+----------------+

In [10]:
user_log.select("page").dropDuplicates().sort("page").show()

+----------------+
|            page|
+----------------+
|           About|
|       Downgrade|
|           Error|
|            Help|
|            Home|
|           Login|
|          Logout|
|        NextSong|
|   Save Settings|
|        Settings|
|Submit Downgrade|
|  Submit Upgrade|
|         Upgrade|
+----------------+

In [11]:
from pyspark.sql.functions import desc             # 'desc' method is for sorting a column in descending order.

user_log.select("page").dropDuplicates().orderBy(desc("page")).show()

+----------------+
|            page|
+----------------+
|         Upgrade|
|  Submit Upgrade|
|Submit Downgrade|
|        Settings|
|   Save Settings|
|        NextSong|
|          Logout|
|           Login|
|            Home|
|            Help|
|           Error|
|       Downgrade|
|           About|
+----------------+

#### Selecting a few columns from the dataframe....

In [12]:
user_log.select(["userId", "firstName", "lastName", "page", "song"]).where(user_log.userId == "1046").show(truncate = False)

+------+---------+--------+--------+----------------------------------------------------+
|userId|firstName|lastName|page    |song                                                |
+------+---------+--------+--------+----------------------------------------------------+
|1046  |Kenneth  |Matthews|NextSong|Christmas Tears Will Fall                           |
|1046  |Kenneth  |Matthews|NextSong|Be Wary Of A Woman                                  |
|1046  |Kenneth  |Matthews|NextSong|Public Enemy No.1                                   |
|1046  |Kenneth  |Matthews|NextSong|Reign Of The Tyrants                                |
|1046  |Kenneth  |Matthews|NextSong|Father And Son                                      |
|1046  |Kenneth  |Matthews|NextSong|No. 5                                               |
|1046  |Kenneth  |Matthews|NextSong|Seventeen                                           |
|1046  |Kenneth  |Matthews|Home    |null                                                |
|1046  |Kenneth  |Matthews|NextSong|War on war                                          |
|1046  |Kenneth  |Matthews|NextSong|Killermont Street                                   |
|1046  |Kenneth  |Matthews|NextSong|Black & Blue                                        |
|1046  |Kenneth  |Matthews|Logout  |null                                                |
|1046  |Kenneth  |Matthews|Home    |null                                                |
|1046  |Kenneth  |Matthews|NextSong|Heads Will Roll                                     |
|1046  |Kenneth  |Matthews|NextSong|Bleed It Out [Live At Milton Keynes]                |
|1046  |Kenneth  |Matthews|NextSong|Clocks                                              |
|1046  |Kenneth  |Matthews|NextSong|Love Rain                                           |
|1046  |Kenneth  |Matthews|NextSong|Ry Ry's Song (Album Version)                        |
|1046  |Kenneth  |Matthews|NextSong|The Invisible Man                                   |
|1046  |Kenneth  |Matthews|NextSong|Catch You Baby (Steve Pitron & Max Sanna Radio Edit)|
+------+---------+--------+--------+----------------------------------------------------+
only showing top 20 rows

In [13]:
user_log.select(["userId", "firstName", "page", "song"]).where(user_log.userId == "1046").collect()

[Row(userId='1046', firstName='Kenneth', page='NextSong', song='Christmas Tears Will Fall'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Be Wary Of A Woman'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Public Enemy No.1'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Reign Of The Tyrants'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Father And Son'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='No. 5'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Seventeen'),
 Row(userId='1046', firstName='Kenneth', page='Home', song=None),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='War on war'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Killermont Street'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Black & Blue'),
 Row(userId='1046', firstName='Kenneth', page='Logout', song=None),
 Row(userId='1046', firstName='Kenneth', page='Home', song=None),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Heads Will Roll'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Bleed It Out [Live At Milton Keynes]'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Clocks'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Love Rain'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song="Ry Ry's Song (Album Version)"),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='The Invisible Man'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Catch You Baby (Steve Pitron & Max Sanna Radio Edit)'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Ask The Mountains'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Given Up (Album Version)'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='El Cuatrero'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Hero/Heroine'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Spring'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Rising Moon'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Tough Little Boys'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song="Qu'Est-Ce Que T'Es Belle"),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Secrets'),
 Row(userId='1046', firstName='Kenneth', page='NextSong', song='Under The Gun')]

In [14]:
user_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [15]:
user_log.select("ts").show()

+-------------+
|           ts|
+-------------+
|1513720872284|
|1513720878284|
|1513720881284|
|1513720905284|
|1513720913284|
|1513720932284|
|1513720955284|
|1513720959284|
|1513720959284|
|1513720980284|
|1513720983284|
|1513720993284|
|1513721031284|
|1513721045284|
|1513721058284|
|1513721077284|
|1513721088284|
|1513721095284|
|1513721097284|
|1513721104284|
+-------------+
only showing top 20 rows

In [16]:
user_log.describe("page").show()

+-------+-------+
|summary|   page|
+-------+-------+
|  count|  10000|
|   mean|   null|
| stddev|   null|
|    min|  About|
|    max|Upgrade|
+-------+-------+

In [17]:
user_log.select("page").distinct().show()

+----------------+
|            page|
+----------------+
|Submit Downgrade|
|            Home|
|       Downgrade|
|          Logout|
|   Save Settings|
|           About|
|        Settings|
|           Login|
|        NextSong|
|            Help|
|         Upgrade|
|           Error|
|  Submit Upgrade|
+----------------+

In [18]:
user_log.select("page").drop_duplicates().show()

+----------------+
|            page|
+----------------+
|Submit Downgrade|
|            Home|
|       Downgrade|
|          Logout|
|   Save Settings|
|           About|
|        Settings|
|           Login|
|        NextSong|
|            Help|
|         Upgrade|
|           Error|
|  Submit Upgrade|
+----------------+

In [19]:
user_log.head() # just a simple check!

Row(artist='Showaddywaddy', auth='Logged In', firstName='Kenneth', gender='M', itemInSession=112, lastName='Matthews', length=232.93342, level='paid', location='Charlotte-Concord-Gastonia, NC-SC', method='PUT', page='NextSong', registration=1509380319284, sessionId=5132, song='Christmas Tears Will Fall', status=200, ts=1513720872284, userAgent='"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', userId='1046')

## Calculating statistics by Hour

#### finding at what particular hour does a user plays a particular song.

In [20]:
# this is a user defined function (UDF)

from pyspark.sql.functions import udf

get_hour = udf(lambda x: datetime.datetime.fromtimestamp(x/1000.0).hour)

In [21]:
user_log = user_log.withColumn("hour", get_hour(user_log.ts))

In [22]:
user_log.head()

Row(artist='Showaddywaddy', auth='Logged In', firstName='Kenneth', gender='M', itemInSession=112, lastName='Matthews', length=232.93342, level='paid', location='Charlotte-Concord-Gastonia, NC-SC', method='PUT', page='NextSong', registration=1509380319284, sessionId=5132, song='Christmas Tears Will Fall', status=200, ts=1513720872284, userAgent='"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', userId='1046', hour='3')

In [23]:
user_log.count()

10000

In [24]:
user_log.take(5)

[Row(artist='Showaddywaddy', auth='Logged In', firstName='Kenneth', gender='M', itemInSession=112, lastName='Matthews', length=232.93342, level='paid', location='Charlotte-Concord-Gastonia, NC-SC', method='PUT', page='NextSong', registration=1509380319284, sessionId=5132, song='Christmas Tears Will Fall', status=200, ts=1513720872284, userAgent='"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', userId='1046', hour='3'),
 Row(artist='Lily Allen', auth='Logged In', firstName='Elizabeth', gender='F', itemInSession=7, lastName='Chase', length=195.23873, level='free', location='Shreveport-Bossier City, LA', method='PUT', page='NextSong', registration=1512718541284, sessionId=5027, song='Cheryl Tweedy', status=200, ts=1513720878284, userAgent='"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', userId='1000', hour='3'),
 Row(artist='Cobra Starship Featuring Leighton Meester', auth='Logged In', firstName='Vera', gender='F', itemInSession=6, lastName='Blackwell', length=196.20526, level='paid', location='Racine, WI', method='PUT', page='NextSong', registration=1499855749284, sessionId=5516, song='Good Girls Go Bad (Feat.Leighton Meester) (Album Version)', status=200, ts=1513720881284, userAgent='"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', userId='2219', hour='3'),
 Row(artist='Alex Smoke', auth='Logged In', firstName='Sophee', gender='F', itemInSession=8, lastName='Barker', length=405.99465, level='paid', location='San Luis Obispo-Paso Robles-Arroyo Grande, CA', method='PUT', page='NextSong', registration=1513009647284, sessionId=2372, song="Don't See The Point", status=200, ts=1513720905284, userAgent='"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', userId='2373', hour='3'),
 Row(artist=None, auth='Logged In', firstName='Jordyn', gender='F', itemInSession=0, lastName='Jones', length=None, level='free', location='Syracuse, NY', method='GET', page='Home', registration=1513648531284, sessionId=1746, song=None, status=200, ts=1513720913284, userAgent='"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', userId='1747', hour='3')]

In [25]:
user_log.show()

+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+----+
|              artist|     auth|firstName|gender|itemInSession| lastName|   length|level|            location|method|    page| registration|sessionId|                song|status|           ts|           userAgent|userId|hour|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+----+
|       Showaddywaddy|Logged In|  Kenneth|     M|          112| Matthews|232.93342| paid|Charlotte-Concord...|   PUT|NextSong|1509380319284|     5132|Christmas Tears W...|   200|1513720872284|"Mozilla/5.0 (Win...|  1046|   3|
|          Lily Allen|Logged In|Elizabeth|     F|            7|    Chase|195.23873| free|Shreveport-Bossie...|   PUT|NextSong|1512718541284|     5027|       Cheryl Tweedy|   200|1513720878284|"Mozilla/5.0 (Win...|  1000|   3|
|Cobra Starship Fe...|Logged In|     Vera|     F|            6|Blackwell|196.20526| paid|          Racine, WI|   PUT|NextSong|1499855749284|     5516|Good Girls Go Bad...|   200|1513720881284|"Mozilla/5.0 (Mac...|  2219|   3|
|          Alex Smoke|Logged In|   Sophee|     F|            8|   Barker|405.99465| paid|San Luis Obispo-P...|   PUT|NextSong|1513009647284|     2372| Don't See The Point|   200|1513720905284|"Mozilla/5.0 (Win...|  2373|   3|
|                null|Logged In|   Jordyn|     F|            0|    Jones|     null| free|        Syracuse, NY|   GET|    Home|1513648531284|     1746|                null|   200|1513720913284|"Mozilla/5.0 (Mac...|  1747|   3|
|                null|Logged In|   Jordyn|     F|            1|    Jones|     null| free|        Syracuse, NY|   GET|Settings|1513648531284|     1746|                null|   200|1513720932284|"Mozilla/5.0 (Mac...|  1747|   3|
|              Redman|Logged In|    Paige|     F|            0|   Hunter|154.53995| free|       Brownwood, TX|   PUT|NextSong|1498414068284|     4406|        Smoke Buddah|   200|1513720955284|"Mozilla/5.0 (Mac...|  1162|   3|
|     Ulrich Schnauss|Logged In|  Gabriel|     M|            2|     Koch|402.93832| paid|     Panama City, FL|   PUT|NextSong|1505820418284|     1060|           On My Own|   200|1513720959284|Mozilla/5.0 (Wind...|  1061|   3|
|                null|Logged In|    Mason|     M|            2|   Thomas|     null| paid|Indianapolis-Carm...|   GET|    Home|1487015656284|     5661|                null|   200|1513720959284|Mozilla/5.0 (comp...|   748|   3|
|                null|Logged In|Alexander|     M|            0|    Short|     null| free|       Green Bay, WI|   GET|    Home|1513594398284|     3689|                null|   200|1513720980284|"Mozilla/5.0 (Win...|   597|   3|
|               Jay-Z|Logged In|  Micheal|     M|           23|   Morgan|223.26812| paid|        Sterling, CO|   PUT|NextSong|1485051492284|     5175|Heart Of The City...|   200|1513720983284|"Mozilla/5.0 (Win...|  1806|   3|
|         Evanescence|Logged In|    Mason|     M|            3|   Thomas|237.11302| paid|Indianapolis-Carm...|   PUT|NextSong|1487015656284|     5661|    Bring Me To Life|   200|1513720993284|Mozilla/5.0 (comp...|   748|   3|
|     Scissor Sisters|Logged In|   Justin|     M|           82|    Jones|218.01751| paid|          Dayton, TN|   PUT|NextSong|1504706730284|     1175|               Laura|   200|1513721031284|"Mozilla/5.0 (Win...|  1176|   3|
|        3 Doors Down|Logged In|     Zoie|     F|           28|   Wright|237.13914| paid|Chicago-Napervill...|   PUT|NextSong|1512172030284|     2163|    Here Without You|   200|1513721045284|"Mozilla/5.0 (Mac...|  2164|   3|
|       George Younce|Logged In|  Malachi|     M|            3|     Lane|191.68608| free|     Sioux Falls, SD|   PUT|NextSong|1510109243284|     5272|This Old House w/...|   200|1513721058284|Mozilla/5.0 (Wind...|  2146|   3|
|              Aly-Us|Logged In|     Vera|     F|            7|Blackwell|383.58159| paid|          Racine, WI|   PUT|NextSong|1499855749284|     5516|Follow Me (Club Mix)|   200|1513721077284|"Mozilla/5.0 (Mac...|  2219|   3|
|                null|Logged In|   Justin|     M|           83|    Jones|     null| paid|          Dayton, TN|   GET|    Home|1504706730284|     1175|                null|   200|1513721088284|"Mozilla/5.0 (Win...|  1176|   3|
|            BjÃÂ¶rk|Logged In|    Elena|     F|            0|   Newman|348.57751| free|Boston-Cambridge-...|   PUT|NextSong|1513494341284|     2903|                Undo|   200|1513721095284|Mozilla/5.0 (Wind...|  2904|   3|
|      David Bromberg|Logged In|Alexander|     M|            1|    Short|146.36363| free|       Green Bay, WI|   PUT|NextSong|1513594398284|     3689|Sheebeg And Sheemore|   200|1513721097284|"Mozilla/5.0 (Win...|   597|   3|
|          Nickelback|Logged In|  Abigail|     F|            4| Davidson|238.18404| paid|Lansing-East Lans...|   PUT|NextSong|1513173389284|     4591|Far Away (Album V...|   200|1513721104284|"Mozilla/5.0 (Mac...|   226|   3|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+----+
only showing top 20 rows

In [26]:
user_log.select('hour').distinct().show()

+----+
|hour|
+----+
|   7|
|  15|
|  11|
|   3|
|   8|
|  22|
|  16|
|   0|
|   5|
|  18|
|  17|
|   6|
|  19|
|  23|
|   9|
|   1|
|  20|
|  10|
|   4|
|  12|
+----+
only showing top 20 rows

In [27]:
user_log.filter(user_log["userID"] == "").count()

336

In [28]:
user_log.select("userID").describe().show()

+-------+------------------+
|summary|            userID|
+-------+------------------+
|  count|             10000|
|   mean|1442.4413286423842|
| stddev| 829.8909432082621|
|    min|                  |
|    max|               999|
+-------+------------------+

In [29]:
user_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- hour: string (nullable = true)

In [30]:
user_log.select("userID").dropDuplicates().sort("userID").show()

+------+
|userID|
+------+
|      |
|    10|
|   100|
|  1000|
|  1003|
|  1005|
|  1006|
|  1017|
|  1019|
|  1020|
|  1022|
|  1025|
|  1030|
|  1035|
|  1037|
|   104|
|  1040|
|  1042|
|  1043|
|  1046|
+------+
only showing top 20 rows

In [31]:
user_log.select("userID").distinct().sort("userID").show()

+------+
|userID|
+------+
|      |
|    10|
|   100|
|  1000|
|  1003|
|  1005|
|  1006|
|  1017|
|  1019|
|  1020|
|  1022|
|  1025|
|  1030|
|  1035|
|  1037|
|   104|
|  1040|
|  1042|
|  1043|
|  1046|
+------+
only showing top 20 rows

**Since we are having empty UserIDs hence its wise to remove them from the dataframe.!**

In [32]:
user_log_valid = user_log.filter(user_log["UserID"] != "")
user_log_valid.show(5)

+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+----+
|              artist|     auth|firstName|gender|itemInSession| lastName|   length|level|            location|method|    page| registration|sessionId|                song|status|           ts|           userAgent|userId|hour|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+----+
|       Showaddywaddy|Logged In|  Kenneth|     M|          112| Matthews|232.93342| paid|Charlotte-Concord...|   PUT|NextSong|1509380319284|     5132|Christmas Tears W...|   200|1513720872284|"Mozilla/5.0 (Win...|  1046|   3|
|          Lily Allen|Logged In|Elizabeth|     F|            7|    Chase|195.23873| free|Shreveport-Bossie...|   PUT|NextSong|1512718541284|     5027|       Cheryl Tweedy|   200|1513720878284|"Mozilla/5.0 (Win...|  1000|   3|
|Cobra Starship Fe...|Logged In|     Vera|     F|            6|Blackwell|196.20526| paid|          Racine, WI|   PUT|NextSong|1499855749284|     5516|Good Girls Go Bad...|   200|1513720881284|"Mozilla/5.0 (Mac...|  2219|   3|
|          Alex Smoke|Logged In|   Sophee|     F|            8|   Barker|405.99465| paid|San Luis Obispo-P...|   PUT|NextSong|1513009647284|     2372| Don't See The Point|   200|1513720905284|"Mozilla/5.0 (Win...|  2373|   3|
|                null|Logged In|   Jordyn|     F|            0|    Jones|     null| free|        Syracuse, NY|   GET|    Home|1513648531284|     1746|                null|   200|1513720913284|"Mozilla/5.0 (Mac...|  1747|   3|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+----+
only showing top 5 rows

In [33]:
pddf = user_log_valid.toPandas()
pddf.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId,hour
0,Showaddywaddy,Logged In,Kenneth,M,112,Matthews,232.93342,paid,"Charlotte-Concord-Gastonia, NC-SC",PUT,NextSong,1509380319284,5132,Christmas Tears Will Fall,200,1513720872284,"""Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537....",1046,3
1,Lily Allen,Logged In,Elizabeth,F,7,Chase,195.23873,free,"Shreveport-Bossier City, LA",PUT,NextSong,1512718541284,5027,Cheryl Tweedy,200,1513720878284,"""Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537....",1000,3
2,Cobra Starship Featuring Leighton Meester,Logged In,Vera,F,6,Blackwell,196.20526,paid,"Racine, WI",PUT,NextSong,1499855749284,5516,Good Girls Go Bad (Feat.Leighton Meester) (Alb...,200,1513720881284,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",2219,3
3,Alex Smoke,Logged In,Sophee,F,8,Barker,405.99465,paid,"San Luis Obispo-Paso Robles-Arroyo Grande, CA",PUT,NextSong,1513009647284,2372,Don't See The Point,200,1513720905284,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",2373,3
4,None,Logged In,Jordyn,F,0,Jones,NaN,free,"Syracuse, NY",GET,Home,1513648531284,1746,None,200,1513720913284,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",1747,3

**Checking if the invalid userIDs are successfully removed or not!**

In [34]:
user_log_valid.select("userId").dropDuplicates().sort("userId").show()

+------+
|userId|
+------+
|    10|
|   100|
|  1000|
|  1003|
|  1005|
|  1006|
|  1017|
|  1019|
|  1020|
|  1022|
|  1025|
|  1030|
|  1035|
|  1037|
|   104|
|  1040|
|  1042|
|  1043|
|  1046|
|  1048|
+------+
only showing top 20 rows

#### Lets check how many user have downgraded their account and moved to a free subscription.

In [35]:
user_log_valid.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- hour: string (nullable = true)

In [36]:
user_log_valid.select(["page"]).distinct().show()

+----------------+
|            page|
+----------------+
|Submit Downgrade|
|            Home|
|       Downgrade|
|          Logout|
|   Save Settings|
|           About|
|        Settings|
|        NextSong|
|            Help|
|         Upgrade|
|           Error|
|  Submit Upgrade|
+----------------+

In [37]:
user_log_valid.select(["userId", "firstName", "lastName", "page", "level"])\
              .filter(user_log_valid["page"] == "Submit Downgrade")\
              .show()

+------+---------+--------+----------------+-----+
|userId|firstName|lastName|            page|level|
+------+---------+--------+----------------+-----+
|  1138|    Kelly|  Newton|Submit Downgrade| paid|
+------+---------+--------+----------------+-----+

In [38]:
total_1138_records = user_log_valid.select(["userId", "firstName", "lastName", "page", "level", "song"])\
              .filter("""userId = 1138""").count()

print(total_1138_records)

user_log_valid.select(["userId", "firstName", "lastName", "page", "level", "song"])\
              .filter("""userId = 1138""").show(n = total_1138_records,truncate = False)

68
+------+---------+--------+----------------+-----+---------------------------------------+
|userId|firstName|lastName|page            |level|song                                   |
+------+---------+--------+----------------+-----+---------------------------------------+
|1138  |Kelly    |Newton  |Home            |paid |null                                   |
|1138  |Kelly    |Newton  |NextSong        |paid |Everybody Everybody                    |
|1138  |Kelly    |Newton  |NextSong        |paid |Gears                                  |
|1138  |Kelly    |Newton  |NextSong        |paid |Use Somebody                           |
|1138  |Kelly    |Newton  |NextSong        |paid |Love Of My Life (1993 Digital Remaster)|
|1138  |Kelly    |Newton  |NextSong        |paid |Down In The Valley Woe                 |
|1138  |Kelly    |Newton  |NextSong        |paid |Treat Her Like A Lady                  |
|1138  |Kelly    |Newton  |NextSong        |paid |Everybody Thinks You're An Angel       |
|1138  |Kelly    |Newton  |NextSong        |paid |Fourteen Wives                         |
|1138  |Kelly    |Newton  |NextSong        |paid |Love On The Rocks                      |
|1138  |Kelly    |Newton  |NextSong        |paid |Breakeven                              |
|1138  |Kelly    |Newton  |NextSong        |paid |Leaf House                             |
|1138  |Kelly    |Newton  |NextSong        |paid |NAISEN KANSSA                          |
|1138  |Kelly    |Newton  |NextSong        |paid |You're In My Heart                     |
|1138  |Kelly    |Newton  |NextSong        |paid |Roll On Down The Highway               |
|1138  |Kelly    |Newton  |NextSong        |paid |Plasticities (Remix)                   |
|1138  |Kelly    |Newton  |NextSong        |paid |Secrets                                |
|1138  |Kelly    |Newton  |NextSong        |paid |Hello                                  |
|1138  |Kelly    |Newton  |NextSong        |paid |I Never Told You                       |
|1138  |Kelly    |Newton  |NextSong        |paid |Love Break Me                          |
|1138  |Kelly    |Newton  |NextSong        |paid |One Touch One Bounce                   |
|1138  |Kelly    |Newton  |NextSong        |paid |Undo                                   |
|1138  |Kelly    |Newton  |NextSong        |paid |Overdue (Blackbeard Remix)             |
|1138  |Kelly    |Newton  |NextSong        |paid |Slave To Love (1999 Digital Remaster)  |
|1138  |Kelly    |Newton  |NextSong        |paid |Stronger                               |
|1138  |Kelly    |Newton  |NextSong        |paid |All Of Us (Album Version)              |
|1138  |Kelly    |Newton  |NextSong        |paid |Sehr kosmisch                          |
|1138  |Kelly    |Newton  |NextSong        |paid |March Of The Celts                     |
|1138  |Kelly    |Newton  |NextSong        |paid |Electricity                            |
|1138  |Kelly    |Newton  |NextSong        |paid |Aces High                              |
|1138  |Kelly    |Newton  |NextSong        |paid |Bananeira                              |
|1138  |Kelly    |Newton  |NextSong        |paid |The General                            |
|1138  |Kelly    |Newton  |NextSong        |paid |HÃÂ©roe De Leyenda (VersiÃÂ³n Maxi)  |
|1138  |Kelly    |Newton  |NextSong        |paid |Don't Stop The Music                   |
|1138  |Kelly    |Newton  |NextSong        |paid |You're The One                         |
|1138  |Kelly    |Newton  |NextSong        |paid |Entering White Cecilia                 |
|1138  |Kelly    |Newton  |NextSong        |paid |Piccolo Cesare                         |
|1138  |Kelly    |Newton  |Help            |paid |null                                   |
|1138  |Kelly    |Newton  |NextSong        |paid |Last Christmas (Album Version)         |
|1138  |Kelly    |Newton  |NextSong        |paid |You Shook Me                           |
|1138  |Kelly    |Newton  |NextSong        |paid |Going Steady                           |
|1138  |Kelly    |Newton  |NextSong        |paid |My Name Is                             |
|1138  |Kelly    |Newton  |NextSong        |paid |Undo                                   |
|1138  |Kelly    |Newton  |NextSong        |paid |Secrets                                |
|1138  |Kelly    |Newton  |NextSong        |paid |Good Times Gone (Album Version)        |
|1138  |Kelly    |Newton  |NextSong        |paid |Angelito                               |
|1138  |Kelly    |Newton  |NextSong        |paid |Batdance ( LP Version )                |
|1138  |Kelly    |Newton  |Home            |paid |null                                   |
|1138  |Kelly    |Newton  |NextSong        |paid |DiÃÂ¡kdal                             |
|1138  |Kelly    |Newton  |NextSong        |paid |Whirring                               |
|1138  |Kelly    |Newton  |NextSong        |paid |Potholderz (feat. Count Bass D)        |
|1138  |Kelly    |Newton  |NextSong        |paid |Seaside                                |
|1138  |Kelly    |Newton  |NextSong        |paid |Louder Than A Bomb                     |
|1138  |Kelly    |Newton  |NextSong        |paid |Just Like You                          |
|1138  |Kelly    |Newton  |NextSong        |paid |You're The One                         |
|1138  |Kelly    |Newton  |NextSong        |paid |Turn It Again (Album Version)          |
|1138  |Kelly    |Newton  |NextSong        |paid |Everywhere I Go                        |
|1138  |Kelly    |Newton  |NextSong        |paid |Easy Skankin'                          |
|1138  |Kelly    |Newton  |NextSong        |paid |Roses                                  |
|1138  |Kelly    |Newton  |NextSong        |paid |Killing Me Softly With His Song        |
|1138  |Kelly    |Newton  |NextSong        |paid |The Razor (Album Version)              |
|1138  |Kelly    |Newton  |NextSong        |paid |Idols and Anchors                      |
|1138  |Kelly    |Newton  |Downgrade       |paid |null                                   |
|1138  |Kelly    |Newton  |Submit Downgrade|paid |null                                   |
|1138  |Kelly    |Newton  |Home            |free |null                                   |
|1138  |Kelly    |Newton  |NextSong        |free |Bones                                  |
|1138  |Kelly    |Newton  |Home            |free |null                                   |
|1138  |Kelly    |Newton  |NextSong        |free |Grenouilles Mantidactylus (Small Frogs)|
+------+---------+--------+----------------+-----+---------------------------------------+

In [39]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

flag_downgrade_event = udf(lambda target_page : 1 if target_page == "Submit Downgrade" else 0, IntegerType())

In [40]:
user_log_valid = user_log_valid.withColumn("downgraded", flag_downgrade_event("page"))

In [41]:
user_log_valid.select(["userId", "firstName", "lastName", "page", "level", "downgraded"])\
              .filter(user_log_valid["page"] == "Submit Downgrade")\
              .show()

+------+---------+--------+----------------+-----+----------+
|userId|firstName|lastName|            page|level|downgraded|
+------+---------+--------+----------------+-----+----------+
|  1138|    Kelly|  Newton|Submit Downgrade| paid|         1|
+------+---------+--------+----------------+-----+----------+

In [42]:
user_log_valid.select(["userId", "firstName", "lastName", "page", "level", "downgraded"]).show(5)

+------+---------+---------+--------+-----+----------+
|userId|firstName| lastName|    page|level|downgraded|
+------+---------+---------+--------+-----+----------+
|  1046|  Kenneth| Matthews|NextSong| paid|         0|
|  1000|Elizabeth|    Chase|NextSong| free|         0|
|  2219|     Vera|Blackwell|NextSong| paid|         0|
|  2373|   Sophee|   Barker|NextSong| paid|         0|
|  1747|   Jordyn|    Jones|    Home| free|         0|
+------+---------+---------+--------+-----+----------+
only showing top 5 rows

In [43]:
user_log_valid.select(["userId", "firstName", "lastName", "page", "level", "downgraded"])\
              .filter(user_log_valid["userID"] == "1138")\
              .show()

+------+---------+--------+--------+-----+----------+
|userId|firstName|lastName|    page|level|downgraded|
+------+---------+--------+--------+-----+----------+
|  1138|    Kelly|  Newton|    Home| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
|  1138|    Kelly|  Newton|NextSong| paid|         0|
+------+---------+--------+--------+-----+----------+
only showing top 20 rows

In [44]:
from pyspark.sql import Window

In [45]:
windowval = Window.partitionBy("userId").orderBy(desc("ts")).rangeBetween(Window.unboundedPreceding, 0)

In [46]:
from pyspark.sql.functions import sum as Fsum

user_log_valid = user_log_valid.withColumn("phase", Fsum("downgraded").over(windowval))

user_log_valid.select(["userId", "firstname", "ts", "page", "level", "phase"])\
              .where(user_log_valid.userId == "1138").sort("ts").collect()

[Row(userId='1138', firstname='Kelly', ts=1513729066284, page='Home', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513729066284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513729313284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513729552284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513729783284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513730001284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513730263284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513730518284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513730768284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513731182284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513731435284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513731695284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513731857284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513732160284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513732302284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513732540284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513732770284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513732994284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513733223284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513733456284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513733738284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513733941284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513734289284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513734598284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513734863284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513735174284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513735385284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513736040284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513736237284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513736446284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513736709284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513736915284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513737160284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513737460284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513737728284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513737936284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513738144284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513738197284, page='Help', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513738432284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513763195284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513763453284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513763622284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513763890284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513764238284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513764462284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513764782284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513765075284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513765075284, page='Home', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513765448284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513765655284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513765818284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513766091284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513766189284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513766385284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513766599284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513766838284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513767203284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513767413284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513767643284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513768012284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513768242284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513768452284, page='NextSong', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513768453284, page='Downgrade', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513768454284, page='Submit Downgrade', level='paid', phase=1),
 Row(userId='1138', firstname='Kelly', ts=1513768456284, page='Home', level='free', phase=0),
 Row(userId='1138', firstname='Kelly', ts=1513814880284, page='NextSong', level='free', phase=0),
 Row(userId='1138', firstname='Kelly', ts=1513821430284, page='Home', level='free', phase=0),
 Row(userId='1138', firstname='Kelly', ts=1513833144284, page='NextSong', level='free', phase=0)]

### Assignment #1:

Which page did user id "" (empty string) NOT visit? <br>
a.) About<br>
b.) Home<br>
c.) Login<br>
d.) NextSong

In [95]:
all_pages = set(user_log.select("page").distinct().collect())
user_visited = set(user_log.select("page").filter(user_log.userId == "").distinct().collect())

page_not_visited = all_pages.difference(user_visited)
print("""user with userID "" did not visit these below pages...\n""")
for webpage in page_not_visited:
    print(webpage.page)

user with userID "" did not visit these below pages...

Downgrade
Save Settings
NextSong
Logout
Submit Downgrade
Error
Upgrade
Settings
Submit Upgrade

In [87]:
sorted(all_pages)

[Row(page='About'),
 Row(page='Downgrade'),
 Row(page='Error'),
 Row(page='Help'),
 Row(page='Home'),
 Row(page='Login'),
 Row(page='Logout'),
 Row(page='NextSong'),
 Row(page='Save Settings'),
 Row(page='Settings'),
 Row(page='Submit Downgrade'),
 Row(page='Submit Upgrade'),
 Row(page='Upgrade')]

In [88]:
all_pages.difference(user_visited)

{Row(page='Downgrade'),
 Row(page='Error'),
 Row(page='Logout'),
 Row(page='NextSong'),
 Row(page='Save Settings'),
 Row(page='Settings'),
 Row(page='Submit Downgrade'),
 Row(page='Submit Upgrade'),
 Row(page='Upgrade')}

In [49]:

print("""user with the ID '' did not visited page - 'NextSong'""")

user with the ID '' did not visited page - 'NextSong'

### Assignment #2:
How many female users do we have in the data set?<br>
a.) 462<br>
b.) 501<br>
c.) 3820<br>
d.) 5844<br>

In [50]:
print(user_log_valid.columns)

['artist', 'auth', 'firstName', 'gender', 'itemInSession', 'lastName', 'length', 'level', 'location', 'method', 'page', 'registration', 'sessionId', 'song', 'status', 'ts', 'userAgent', 'userId', 'hour', 'downgraded', 'phase']

In [96]:
total_females = user_log_valid.select(["userId", "gender"]).distinct().filter(user_log_valid.gender == "F").count()
print("Number of female users: ", total_females)

Number of female users:  462

### Assignment #3:
How many songs were played from the most played artist?<br>
a.) 3<br>
b.) 53<br>
c.) 83<br>
d.) 113

In [52]:
most_played_artist = user_log_valid.dropna(how = "any")\
                     .groupBy("artist")\
                     .count().select(["artist", "count"]).orderBy(desc("count")).collect()[0][1]

most_played_artist

83

### Assignment #4:
How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.<br>
a.) 5<br>
b.) 7<br>
c.) 9<br>
d.) 11

In [53]:
user_log_valid.select(["userId", "page"]).filter(user_log_valid.userId == "1046").show()

+------+--------+
|userId|    page|
+------+--------+
|  1046|NextSong|
|  1046|NextSong|
|  1046|NextSong|
|  1046|NextSong|
|  1046|NextSong|
|  1046|NextSong|
|  1046|NextSong|
|  1046|    Home|
|  1046|NextSong|
|  1046|NextSong|
|  1046|NextSong|
|  1046|  Logout|
|  1046|    Home|
|  1046|NextSong|
|  1046|NextSong|
|  1046|NextSong|
|  1046|NextSong|
|  1046|NextSong|
|  1046|NextSong|
|  1046|NextSong|
+------+--------+
only showing top 20 rows

In [54]:
user_log_valid.select("page").groupBy("userId")